<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span>Text Input</span> <br/>
    <input type = "text"/>  <br/>
 
    <span>Password Input</span> <br/>
    <input type = "password"/> <br/>

    <span>CheckBox Input</span> <br/>
    <input name = "checkbox" type = "checkbox"/> <br/>
    <input name = "checkbox" type = "checkbox"/> <br/>

    <span>Radio Input</span> <br/>
    <input name = "radio" type = "radio"/>
    <input name = "radio" type = "radio"/> <br/>

    <span>Date Input</span> <br/>
    <input type = "date"/> <br/>

    <span>DateTime Input</span> <br/>
    <input type = "datetime-local"/> <br/>

    <span>Button</span>  <br/>
    <button>버튼</button>
</body>
</html>